body{
    background-color: rgb(240, 202, 159);
    font-family: 'Lexend Zetta', sans-serif;
}
a{
    color: rgb(172, 119, 51);
    font-size: 15px;
    text-decoration: none;
}
#Nombres{
    color: red;
}
.cajas{
    border: 1px solid #000000;
    margin: 30px 20px 10px 5px;
    padding:30px 20px 10px 5px;
}
.encabezado{
    display: block;
    border: 1px solid #000000;
}
h1, nav{
    display: inline;
}